{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}"></head>
<body>
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="wrap-login100">
                    <form action="" class="login100-form validate-form">
                        <span class="login100-form-title">
                            Pass Application <i class="fa fa-pencil fa-sm" style="font-size: 25px;" aria-hidden="true"></i>
                        </span>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="first-name" placeholder="First name" required>
                        </div>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="last-name" placeholder="Last name" required>
                        </div>
    
                        <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c" required>
                            <input class="input100" type="text" name="email" placeholder="Email">
                        </div>
    
                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="tel" name="mobile-number" placeholder="Mobile number" required>
                        </div>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="address" placeholder="Address" required>
                        </div>
                        <h5 class="pick-a-reason">Enter durati<link rel="stylesheet" href="css/bootstrap.min.css">
                        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
                        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
                        <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
                        <link rel="stylesheet" href="{% static 'css/style.css' %}">
                        <link rel="stylesheet" href="{% static 'css/main.css' %}">
                        <link rel="stylesheet"
                            href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
                            on required</h5>
                        <div class="row">
                            
                            <div class = "col"><div class="wrap-input100 validate-input"><input class="input100" type="textbox" name="from-time" placeholder="Time From [in Hours]" required></div></div>
                            <div class = "col"><div class="wrap-input100 validate-input"><input class="input100" type="textbox" name="to-time" placeholder="Time To [in Hours]" required></div></div>
                        </div>

                        <div class="reason-box">
                            <h5 class="pick-a-reason">Pick a reason</h5>
                            <div class="form-check">
                                <input style="margin-top:.4rem"  class="form-check-input" type="radio" name="reason" id="groceries" value="groceries" required>
                                <label class="form-check-label" for="groceries">
                                  Groceries
                             </label   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
                                <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
                                <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
                                <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
                                <link rel="stylesheet" href="{% static 'css/style.css' %}">
                                <link rel="stylesheet" href="{% static 'css/main.css' %}">
                                <link rel="stylesheet"
                                    href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
>
                            </div>
                            <div class="form-check">
                                <input style="margin-top:.4rem" class="form-check-input" type="radio" name="reason" id="medicines" value="medicines" required>
                                <label class="form-check-label" for="medicines">
                                  Medicines
                                </label>
                            </div>
                            <div class="form-check">
                                <input style="margin-top:.4rem" class="form-check-input" type="radio" name="reason" id="emergency" value="emergency" required>
                                <label class="form-check-label" for="emergency">
                                  Emergency
                                </label>
                            </div>
                            <div class="form-check">
                                <input style="margin-top:.4rem" class="form-check-input" type="radio" name="reason" id="other" value="other" required>
                                <label class="form-check-label" for="other">
                                  Other
                                </label>
                            </div>                             
                        </div>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="textarea" name="other-reason" placeholder="Other reason type here..">
                        </div>
    
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <input type="submit" class="login100-form-btn">
                            </div>
                        </div>
    
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
